.cards{
    /* background-color: antiquewhite; */
    
}
.products{
    background-color: rgb(131, 190, 190);
    margin: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    padding: 50px;
}
.productcont{
    background-color: rgb(231, 231, 245);
    display: flex;
    flex-wrap:wrap ;
    gap: 25px;
    border: 10px solid rgb(249, 239, 241);
    border-radius: 20px;
    padding: 20px;
}
.product{
    background-color: bisque;
    border: 2px solid black;
    border-radius: 20px;
    /* width: 40%; */
    padding: 30px;
    /* height: 50px;
    width: 50px; */
}
p,h3{
    margin-left: 200px;
}