*{
margin:0;
padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.home{
    height: 70px;
    display: flex;
    font-size: 30px;
    justify-content:space-evenly;
    gap:10px;
    background-color:rgb(213, 94, 20) ;
}
button{
    background-color:rgb(213, 94, 20) ;
    color: white;
  border:none;
  font-size: 20px;
}
#bank{
        color: white;
        font-size: 50px;
    }
    .main{
        margin-left: 300px;
        margin-right: 300px;
    }
    .apply{
        display: flex;
        flex-direction: row;
        gap:70px;
        margin-top:30px;
    }
    .bar{
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        border:2px solid black;
        margin-top:100px;
        padding: 50px;
        height: 500px;
        
    }
    .abs{
        margin-top: -180px;
        margin-left: 750px;
    }
    .bar1{
        display: flex;
        flex-direction: row;
        gap: 20px
        ;
    }
    .bar2{
        display: flex;
        flex-direction: row;
gap: 20px
        ;
        margin-top: 20px;

    }
    .bar3{
        display: flex;
        flex-direction: row;
gap: 20px
        ;
        margin-top: 20px;

    }
    .btn{
        font-size: 15px;
width: 90px;
border-radius: 10px;
    }
    li{
        list-style: none;
    }