*{
margin:0;
padding: 0;
}
.home{
    height: 70px;
    display: flex;
    font-size: 30px;
    justify-content:space-evenly;
    gap:10px;
    background-color:rgb(213, 94, 20) ;
body{
    display: flex;
    flex-direction: column;
}
button{
    background-color:rgb(213, 94, 20) ;
    color: white;
  border:none;
  font-size: 20px;
}
span{
    font-size: 30px;
}}
.main{
    margin-top: 2px;
    height: 500px;
    background-color:rgb(213, 94, 20);
    display: flex;
    flex-direction: row;
    .main1{
       margin-left: 180px; 
        width: 50%;
        background-color: rgb(213, 94, 20);
        color: white;
        .main11
        {
         margin-top: 15px;
            display: flex;
            flex-direction: row;
            gap: 50px;
            button{
                color: black;
                height: 60px;
                width: 170px;
                padding: 2px solid black;
                border-radius: 20px;
            }
            
        }
         .main12
        {
         margin-top: 15px;
            display: flex;
            flex-direction: row;
            gap: 50px;
            button{
                color: black;
                height: 60px;
                width: 170px;
                padding: 2px solid black;
                border-radius: 10px;
            }
            
        }
        

        h1{
            margin-top: 30px;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 50px;
        }
        #search{
            padding: 10px;
            border-radius:20px;
            width:600px;
        }
    }
    .main2{
        width: 50%;
        background-color: rgb(213, 94, 20);

    }
}
